* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}
:root {
    --primary-color: #ffb900;
    --font-heading: Sen, san-serif;
}
/* Common */
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 118px;
    color: #fff;
    padding: 0 42px;
    line-height: 50px;
    border-radius: 999px;
    background: #171100;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17241; /* 117.241% */
    letter-spacing: -1.16px;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.break-all {
    word-break: all;
}
/* Header */
.header {
    padding: 36px 0 8px;
    background: #fffcf4;
}
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .navbar {
    display: flex;
    align-items: center;
}

.navbar .nav {
    display: flex;
    gap: 14px;
    margin-left: auto;
    margin-right: 70px;
}

.navbar .nav li a {
    display: block;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    padding: 8px 14px;
    position: relative;
}
.navbar .nav li a::after {
    content: " ";
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    bottom: 10px;
    left: -7px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}
.navbar .nav .active,
.navbar .nav li a:hover {
    color: #171100;
    font-size: 1.6rem;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    line-height: 1.75; /* 175% */
}
.navbar .nav .active a::after {
    visibility: visible;
    opacity: 1;
    left: 14px;
}

.navbar .sign-up-btn {
    min-width: 144px;
}

/* Hero */
.hero-wrap {
    background: #fffcf4;
    padding: 56px 0 65px;
}

.hero {
    display: flex;
}
.hero .img-block {
    position: relative;
}
.hero .hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.hero .hero-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 24px 0 24px 24px;
}
.hero .hero-summary .item {
    display: flex;
    align-items: center;
}
.hero-summary .item .icon {
    margin-right: 16px;
    padding: 11px 12px;
    border-radius: 999px;
    background-color: #fff9e8;
}

.hero-summary .item:nth-child(2) .icon {
    background-color: #fcefff;
}
.hero-summary .item:nth-child(3) .icon {
    background-color: #ebeaff;
}
.hero-summary .item-info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
.hero-summary .item-info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}
.hero .info {
    padding: 64px 0 0 130px;
}

.hero .info {
    width: 52%;
}
.hero .img-block {
    width: 48%;
}
.hero .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.hero .heading + .desc {
    margin: 22px 0 38px 0;
}

.hero .row {
    display: flex;
    align-items: center;
}

.hero .row .play-btn {
    border: none;
    padding: 12px 13px;
    margin-left: 28px;
    margin-right: 14px;
    border-radius: 999px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
    position: relative;
}

.hero .play-btn img {
    display: block;
    margin: auto;
}

.hero .row span {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    transition: all 0.4s ease;
    visibility: hidden;
    opacity: 0;
}
.hero .row .hero-cta {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
}
.hero .row .play-btn:hover span {
    visibility: visible;
    opacity: 1;
    top: 50%;
    left: 52px;
}
.hero .row + .desc {
    margin: 48px 0 8px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22; /* 122.727% */
}

.hero .stats strong:first-child {
    padding-left: 0;
}

/* Courses */
.courses {
    padding: 200px 0;
}

.courses .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses .row .info {
    width: 458px;
    margin-bottom: 55px;
}
.courses .row .heading {
    font-size: 3.8rem;
    line-height: 1.26; /* 126.316% */
    margin-bottom: 16px;
}
.courses .row .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.courses .row .controls {
    display: flex;
    gap: 18px;
}
.courses .row .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.courses .row .control-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

/* Courses item */
.courses-wrap {
    display: flex;
    gap: 30px;
}

.courses-wrap .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}
.courses-wrap .course-item:hover {
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}
.courses-wrap .course-item .course-img {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: -1px;
}

.courses-wrap .course-item .body {
    padding: 16px 22px 22px;
}

.courses-wrap .course-item .row {
    display: flex;
    margin-bottom: 6px;
}
.course-item .row .course-name a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    /* 166.667% */
}
.course-item .row .desc {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.course-item .row + .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    margin-bottom: 12px;
}
.course-item .row .icon {
    margin-left: auto;
    margin-right: 6px;
}

.course-item .info {
    display: flex;
    align-items: center;
}
.course-item .info .value {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}
.course-item .info .book-btn {
    margin-left: auto;
    padding: 0;
    text-align: center;
    font-size: 1.4rem;
}
.course-item .info .book-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

/* Feedback */
.feedback {
    padding: 96px 0;
    background: #2e2100;
}
.feedback-wrapper {
    display: flex;
    overflow: hidden;
    gap: 135px;
}
.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    transition: 1.5s;
}
.feedback-item.active {
    margin-left: calc(-100% - 130px);
}
.feedback-item .info .info-avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 18px;
}
.feedback-item .info .info-name {
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
    margin-bottom: 4px;
}

.feedback-item .info .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
    margin-bottom: 28px;
}
.feedback-wrapper + .dots {
    position: absolute;
    display: flex;
    gap: 12px;
}

.feedback-wrapper + .dots .dot {
    padding: 6px;
    background-color: #634700;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.feedback-wrapper + .dots .dot:hover {
    background-color: var(--primary-color);
}
.feedback-wrapper + .dots .dot.active {
    background-color: var(--primary-color);
}

.feedback-item .quotes {
    margin-left: auto;
    width: 66%;
}
.feedback-item .quotes blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 153.846% */
}

/* Features */
.features {
    padding-top: 200px;
}

.features .row {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    height: 440px;
}
.features .row .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 41%;
}

.features .info .title {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}
.features .info .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.features .info .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background-color: var(--primary-color);
}
.features .features-img {
    display: flex;
    gap: 30px;
}
.features .features-img .img {
    width: 270px;
    height: 405px;
    border-radius: 16px;
    object-fit: cover;
}
.features .features-img .img:first-child {
    margin-top: 34px;
}

.features .features-img .img:nth-child(2) {
}

.features-2 {
    padding-bottom: 200px;
}

.features-2 .row .info {
    width: 59%;
}

.features-2 .features-img .img {
    width: 470px;
    height: 440px;
    object-fit: cover;
}

/* Blog */
.blog {
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
    width: 448px;
    margin: 0 auto 55px;
}

.blog .blog-top .heading {
    color: #130606;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
    margin-bottom: 16px;
}

.blog .blog-top .desc {
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.blog .blog-list {
    display: flex;
    gap: 30px;
    overflow: hidden;
}
.blog .item {
    width: calc(100% / 3 - 20px);
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 16px;
}
.blog .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .item .info {
    padding: 20px 20px 28px;
}
.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.blog .item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    padding-bottom: 12px;
}
.blog .item .date::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-right: 4px;
}

.blog .item .date::after {
    content: "";
    display: inline-block;
    border-radius: 0.5px;
    background: #e2dfda;
    height: 1px;
    position: absolute;
    left: 0;
    right: -27px;
    bottom: 0;
}

.blog .item .title a {
    display: inline-block;
    margin-top: 12px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    margin-bottom: 12px;
}

.blog .info .btn {
    font-size: 1.4rem;
    padding: 0;
}
.blog .info .btn:hover {
    background-color: var(--primary-color);
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}
.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    cursor: default;
    background: #5f5b53;
    background: var(--primary-color);
}

/* footer */
.footer {
    background: #2e2100;
    padding: 96px 0 28px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column:first-child {
    width: 267px;
}

.footer .row .column:first-child .desc {
    margin: 18px 0;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.footer .row .social {
    display: flex;
    gap: 18px;
}

.footer .row .title {
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    position: relative;
}

.footer .row .title::after {
    content: "";
    position: absolute;
    left: 0;
    right: -48px;
    bottom: -14px;
    height: 1px;
    background-color: #59554b;
}
.footer .row .list {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer .row .list a {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.footer .row .list strong {
    font-weight: 600;
    color: #fff;
}

.footer .coppy-right {
    padding-top: 28px;
    text-align: center;
    color: #807d74;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
